@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="d-flex justify-content-end flex-wrap pt-4">
        <button type="button" class="btn btn-danger w-25" id="btnCreate">Create Customer</button>      
    </div>
</div>
<div class="text-center">
    <table class="table" id="tableHome">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>
